body{
  margin:0;
 font-family: 'Montserrat', sans-serif;
}

.container{
  width:1170px;
  margin:0 auto;
}

.clearBoth{
  clear: both;
}


/********************


      HEADER


**********************/


header#header{
  background:url("../images/fond_header.jpg");
  background-size:cover;
  padding-top:90px;
  padding-bottom:150px;
}

.lienAccueil{
  
  margin-left:30px;
}

.contentHeader{
  margin-top:290px;
  text-align:center;
}

.contentHeader h1{
  color:#FFFFFF;
  text-align:center;
  margin-bottom:0;
  font-size:69px;
  font-weight:bold;
  text-transform: capitalize;
  line-height: 60px;
}

.contentHeader h2{
  color:#FFFFFF;
  font-size:44px;
  text-align:center;
  margin-top:0;
  line-height: 44px;
}

.button{
  display: inline-block;
  width:160px;
  text-transform: uppercase;
  margin-top:100px;
  padding:15px 20px;
  color:#97735e;
  font-size:14px;
  background:#FFFFFF;
  text-decoration:none;
  transition: 0.5s all linear;
}

.button:hover{
  background:#97735e;
  color:#FFFFFF;
}



























